body { 
    margin: 0;
    padding: 1cm 0.8cm 1cm 0.8cm;
    width: 21cm;
    height: 29.7cm;
}

* {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

header {
    height: 3cm;
    background: linear-gradient(135deg, rgba(12,118,228,1) 0%, rgba(165,197,223,1) 35%, rgba(255,255,255,1) 100%);
    padding: 2mm;
    display:flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

#telephone {
    margin-bottom: 0;
}

#mail {
    margin-top: 1mm;
}

#coordonnees p {
    font-style: italic;
    font-size: 5mm;
}

#titre {
    width: 100%;
}

#titre * {
    text-align: center;
}

#titre h2 {
    font-style: italic;
    color: rgb(101, 102, 104);
}

#formation { 
    height: 5cm;
    margin: 3.8cm 0 5mm 0;
    border: 5px solid rgb(139, 188, 211);
    border-radius: 5mm;
}

#competences {
    height: 13.3cm;
    border: 1px solid red;
    border: 5px solid rgb(139, 188, 211);
    border-radius: 5mm;
}

#formation li {
    margin-bottom: 5mm;
}

#formation li span.time {
    text-decoration: underline;
    font-style: italic;

}

.topic {
    font-style: italic;
    font-weight: bold;
    color: blueviolet;
}

#formation p {
    font-size: 6mm;
    font-weight: bold;
    text-decoration: underline;
    color: blue;
    padding-left: 3mm;
}

#competences table {
    width: 100%;
    border-spacing: 3mm;
    border-bottom: 1mm;
}

#competences table td {
    width: 50%;
    border-collapse: collapse;
}

table, th, td {
    border-bottom: 1px dotted;
    padding-bottom: 3mm;
  }

#colonnes * {
    text-align: left;
    font-size: 6mm;
    font-weight: bold;
    text-decoration: underline;
    color: blue;
    border: none;
    padding-bottom: 3mm;
}

#lastrow, #lastrow * {
    border: none;
}

footer {
    height: 3cm;
    display: flex;
    justify-content: space-between;
    margin-top: 5mm;
    padding: 0 5mm;
    background: linear-gradient(135deg, rgba(187,211,236,1) 0%, rgba(255,255,255,1) 25%, rgba(187,211,236,1) 50%, rgba(255,255,255,1) 75%, rgba(187,211,236,1) 100%);
}

#langues {
    width: 20%;
}

#informatique {
    width: 35%;
}

#divers {
    width: 40%;
}

.footerdiv {
    
    height: 100%;
}

.footerdiv ul {
    padding: 0;
    margin: 0;
}

.footerdiv li {
    list-style-type: square;
    margin: 1mm 0;
}

li.stress {
    font-weight: bold;
    color: blue;
    font-size: large;
    text-decoration: underline;
    margin: 0 0 3mm 0;
    list-style-type: none;
}

.domaine {
    text-decoration: underline;
    font-style: italic;
}





